<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--2-col">
		<form action="#">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" id="guestName" ng-model="vm.waitingList.guestName">
				<label class="mdl-textfield__label" for="guestName">Guest Name</label>
				<span class="mdl-textfield__error">Salah Input!!</span>
			</div>
		</form>
	</div>
	<div class="mdl-cell mdl-cell--2-col">
		<form action="#">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" id="guestCount" ng-model="vm.waitingList.guestCount">
				<label class="mdl-textfield__label" for="guestCount">Guest Count</label>
				<span class="mdl-textfield__error">Salah Input!!</span>
			</div>
		</form>
	</div>
	<div class="mdl-cell mdl-cell--2-col" style="padding-top: 12px">
		<button class="mdl-button mdl-js-button mdl-button--primary mdl-button--raised" ng-click="vm.save()">Add</button>
	</div>
</div>
<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--12-col">
		<table ng-init="vm.load()" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width:100%">
			<thead>
				<tr>
					<td>No</td>
					<td>Guest Name</td>
					<td>Guest Count</td>
					<td>Action</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="wl in vm.waitingLists">
					<td>{{$index+1}}</td>
					<td>{{wl.guestName}}</td>
					<td>{{wl.guestCount}}</td>
					<td>
						<button class="mdl-button mdl-js-button mdl-button--icon mdl-button--accent" ng-click="vm.remove($index,wl.id)">
							<i class="material-icons">close</i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>