
<div class="mdl-layout mdl-js-layout mdl-color--grey-50" style="justify-content: center;align-items: center">
	<main class="mdl-layout__content mdl-color--grey-50" style="padding: 24px;flex:none">
		<div class="mdl-card mdl-shadow--6dp">
			<div class="mdl-card__title mdl-color--orange-400 mdl-color-text--white">
				<img src="./assets/images/logo.png" style="width:100%"/>
			</div>
			<div class="mdl-card__supporting-text">
				<form ng-submit="vm.login()" name="form">
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="text" id="username" ng-model="vm.username">
						<label class="mdl-textfield__label" for="username">Username</label>
						<span class="mdl-textfield__error">Salah Input!!</span>
					</div>
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="text" id="password" ng-model="vm.password">
						<label class="mdl-textfield__label" for="password">Password</label>
						<span class="mdl-textfield__error">Salah Input!!</span>
					</div>
					<br/>
					<button style="width:100%" type="submit" class="mdl-button mdl-js-button mdl-button--primary">
						Login
					</button>
				</form>
			</div>
			
		</div>
	</main>
</div>