<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">

  <header class="mdl-layout__header mdl-color--orange-400">

    <div class="mdl-layout__header-row" style="padding-right:0px">
    <span class="mdl-layout-title mdl-color-text--white">{{pageTitle}}</span>
    <div class="mdl-layout-spacer"></div>
      <button id="demo-menu-lower-right"
      class="mdl-button mdl-js-button mdl-button--icon">
      <i class="material-icons">more_vert</i>
    </button>
    <div class="mdl-textfield__expandable-holder">
      <input class="mdl-textfield__input" type="text" name="sample"
      id="fixed-header-drawer-exp">
    </div>
  </div>
  <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
  for="demo-menu-lower-right">
  <li class="mdl-menu__item">Change Password</li>
  <li class="mdl-menu__item" ui-sref="login">Logout</li>
</ul>
</header>

<div class="mdl-layout__drawer" style="border-right:transparent">
  <!-- <span class="mdl-layout-title mdl-color--orange-400" style="padding-top:70px">Navigations</span> -->
  <div class="demo-drawer-header mdl-color--orange-400" >
    <h6 class="mdl-color-text--yellow-A100">Kambing Soon POS v1.0</h6>
    <div class="mdl-grid" style="margin-left:0px">
      <img class="demo-avatar" src="assets/images/male.png">
      <span style="vertical-align:middle;padding:10px" class="mdl-color-text--yellow-A100"><strong>Hi Cashier !</strong></span>
    </div>
    <!-- <img src="assets/images/logo.png" style="width:60%" />
    <p class="mdl-color-text--white">POS v1.0</p> -->
  </div>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" ui-sref="layout.cashier"><i class="material-icons" style="vertical-align:middle;margin-right:20px">add_shopping_cart</i> Cashier</a>
    <a class="mdl-navigation__link" ui-sref="layout.menu"><i class="material-icons" style="vertical-align:middle;margin-right:20px">restaurant_menu</i> Menu</a>
    <a class="mdl-navigation__link" ui-sref="layout.user"><i class="material-icons" style="vertical-align:middle;margin-right:20px">work</i> User</a>
    <a class="mdl-navigation__link" ui-sref="layout.waitinglist"><i class="material-icons" style="vertical-align:middle;margin-right:20px">group_add</i>Waiting List</a>
    </nav>
  </div>

  <main class="mdl-layout__content">
    <ui-view></iu-view>
  </main>

  <!-- <footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__right-section">
      <div class="mdl-logo">
        Kambing Soon<acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular']"></acme-malarkey>
      </div>
    </div>
  </footer> -->

</div>
