<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--2-col">
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-focused">
			<select id="tableNumber" ng-model="vm.tableNumber" class="mdl-textfield__input">
				<option value="" selected></option>
				<option value="1">Table 1</option>
				<option value="2">Table 2</option>
				<option value="3">Table 3</option>
				<option value="4">Table 4</option>
				<option value="5">Table 5</option>
				<option value="6">Table 6</option>
				<option value="7">Table 7</option>
				<option value="8">Table 8</option>
				<option value="9">Table 9</option>
			</select>
			<label class="mdl-textfield__label" for="tableNumber">Table Number</label>
		</div>
	</div>
	<div class="mdl-cell mdl-cell--2-col" style="padding-top: 12px">
		<button ng-click="vm.getOrders()" class="mdl-button mdl-js-button mdl-button--raised mdl-color--blue-500 mdl-color-text--white">
			View <i class="material-icons">visibility</i>
		</button>
	</div>
</div>
<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--12-col">
		<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width:100%">
			<thead>
				<tr>
					<th>No</th>
					<th>Nama Menu</th>
					<th>Quantity</th>
					<th>Price</th>
					<th>Subtotal</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="order in vm.salesOrder.orders">
					<td>{{$index+1}}</td>
					<td>{{order.menu.menuName}}</td>
					<td>{{order.qty}}</td>
					<td>{{order.menu.price | currency:''}}</td>
					<td>{{order.subtotal | currency:''}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--2-col">
		<form action="#">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
				<label class="mdl-textfield__label" for="sample4">Discount</label>
				<span class="mdl-textfield__error">Salah Input!!</span>
			</div>
		</form>
	</div>
	<div class="mdl-cell mdl-cell--2-col"></div>
	<div class="mdl-cell mdl-cell--2-col">
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-focused">
			<select id="paymentMethod" class="mdl-textfield__input">
				<option value="" selected></option>
				<option value="table1">Cash</option>
				<option value="table2">Debit</option>
			</select>
			<label class="mdl-textfield__label" for="paymentMethod">Payment Method</label>
		</div>
	</div>
	<div class="mdl-cell mdl-cell--2-col"></div>
	<div class="mdl-cell mdl-cell--4-col">
		<div>
			<h4 style="margin-top:18px ; float:right" id="grandTotal">Grand Total : {{vm.salesOrder.totalGross | currency:''}}</h4>
		</div>
	</div>
</div>
<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--2-col">
		<form action="#">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
				<label class="mdl-textfield__label" for="sample4">Payment</label>
				<span class="mdl-textfield__error">Salah Input!!</span>
			</div>
		</form>
	</div>
	<div class="mdl-cell mdl-cell--6-col"></div>
	<div class="mdl-cell mdl-cell--4-col">
		<div>
			<h4 style="margin-top:18px ; float:right" id="change">Change : Rp. 0.00</h4>
		</div>
	</div>
</div>
<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--1-col" style="padding-top: 12px">
		<button class="mdl-button mdl-js-button mdl-button--raised">
			Done
		</button>
	</div>
	<div class="mdl-cell mdl-cell--1-col" style="padding-top: 12px">
		<button class="mdl-button mdl-js-button mdl-button--raised">
			Refresh
		</button>
	</div>
</div>